* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(bg.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    height: 135vh;
}   

.navbar {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.icon {
    width: 250px;
    height: 70px;
}

.icon-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
}

.logo {
    color: darkorange;
    font-size: 50px;
    font-family: Arial;
    
}

.menu {
    position: 0px;
}
.menu {
    display: flex;
    width: auto;
    height: auto;
    z-index: 2;
}

.menu li {
    list-style-type: none;
    width: auto;
    padding: 10px;
    margin: 0px;
    position: relative;
}

.menu a {
    color: White;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}

.menu li:hover {
    background: #ff7200;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

ul li {
    margin-right: 60px;

}

ul li a {
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: orange;
}

.content{
    width: 1200px;
    height:fit-content;
    margin: auto;
    color: #fff;
    position: relative;
    top: -80px;
    right: 20px;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: orange;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: black;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%,);
    position: absolute;
    top: -10px;
    left: 900px;
    padding: 25px;   
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: black;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-left: none;
    color: black;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: #ffff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background-color: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;   
    cursor: pointer;
    color: #fff;
    transition: 0.4 ease;
}

.btnn:hover{
    background: #fff;
    color: #ff7200;
}

.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #ff7200;
}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.icon a{
    text-decoration: none;
    color: #fff;
}

.icon ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;  
    transition: 0.3 ease; 
}

.icon ion-icon:hover{
    color: #ff7200;
}

/* CSS for another navbar */
.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(bg.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar2 a{
    font-size: 14px;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: none;
    margin-right: 60px;
}
.navbar2 a:hover{
    background: #ff7200;
}

/* FlipCard CSS */
.flipcontainer{
    width: 250px;
    height: 300px;
    perspective: 500px;
    margin-top: 100px;
    margin-left: 100px;
    
}
.flipcontainer2{
    width: 250px;
    height: 300px;
    perspective: 500px;
    margin-top: -300px;
    margin-left: 500px;
    
}

.flipcontainer3{
    width: 250px;
    height: 300px;
    perspective: 500px;
    margin-top: -300px;
    margin-left: 850px;
    
}

.flipcontainer4{
    width: 250px;
    height: 300px;
    perspective: 500px;
    margin-top: -300px;
    margin-left: 1200px;
    
}

.flipcontainer5{
    width: 250px;
    height: 300px;
    perspective: 500px;
    margin-top: 100px;
    margin-left: 900px;
    
}

.flipcontainer6{
    width: 250px;
    height: 300px;
    perspective: 500px;
    margin-top: -300px;
    margin-left: 500px;
    
}
.flipcontainer:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
    
}
.flipcontainer2:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
    
}

.flipcontainer3:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
    
}

.flipcontainer4:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
    
}

.flipcontainer5:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
    
}

.flipcontainer6:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
    
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}



.front, .back{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    position: absolute;
    backface-visibility: hidden;
}

.front{
    background-image: url(https://i.pinimg.com/736x/66/db/51/66db51b7e39c7b5ec7bd51e652506e6d.jpg);
    text-align: center;
}

.back{
    background-color: #ff7200;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}